$ont-nunito: 'Nunito Sans', sans-serif;

$ont-poppins: 'Poppins', sans-serif;

:root {
  --primary-color: #ff3333;
  --hover-color: #000;
  --btn-color: linear-gradient(90deg, rgba(198, 44, 116, 1) 0%, rgba(89, 39, 110, 1) 100%);
  --hover-btn-color: linear-gradient(90deg, rgb(214, 23, 112) 0%, rgb(121, 23, 163) 100%);


}

.side_bar {

    ::-webkit-scrollbar {
      width: 3px;
      height:5px;
    }
  
    ::-webkit-scrollbar-thumb {
      background-color: rgb(251, 0, 0);
  
     
    }
  
  

  height: 100vh !important;
 
  bottom: 0;
overflow-y: scroll;
  left: 0;
  font-family: $ont-nunito;
  font-weight: 300;
  background-color: #f5f5f5;
    background-color: #f5f5f5;

  .sidebar {
    position: fixed;
    left: 0;
    top: 92px;
  max-width: 250px;
  min-width: 250px;
padding: 10px;
 overflow-y: scroll;
    height:80vh; 
 
     
    .sidebar-item {
      padding: 0 10px;
      display: block;




       

      .sidebar-title {
        display: flex;
        align-items: center;
     
        font-size: 14px;
        justify-content: space-between;
        font-family: $ont-poppins;
        font-weight: 400;
        line-height: 30px;
        color: #000000;
        &:hover{
          background-color: #ffffff;
          color: var(--primary-color);
          cursor: pointer;
           
        }
      }


    }

    .sidebar-content {
      padding-top: 5px ;
 font-size: 14px;
 font-family: $ont-poppins;
 font-weight: 400;
      height: 0;
      overflow: hidden;

  
    }
  
    .sidebar-item.open>.sidebar-content {
      height: auto;
      overflow: hidden;

    }
    
  .sidebar-item.plain {
    color: #000000;
    text-decoration: none;
    line-height: 30px;
    &:hover{
      color: var(--primary-color);
      cursor: pointer;
    }
  
  }


  }

@media screen and (max-width:768px) {
  .sidebar{
 left: -100%;

    top: 0;


    .logo_chal_dal {
      width: 30px;
      object-fit: cover;

      height: auto;
  }

  .logo {
    img{
      width: 30px;
      height: auto;
    }
      h5 {
          font-size: 18px !important;
          font-family: $ont-poppins;
          margin-bottom: 0 !important;

          width: 100%;
          font-weight: 600;

      }
  }

  .close_menu{
    span{
      font-size: 25px;
      &:hover{
        color: var(--primary-color);
      cursor: pointer;      }
    }
  }
  }
  
}

.menu_show{
  left: 0%  !important;
  height: 100vh;
  transition: .4s;
}

 























  // input group 
  .input-group {
    margin-top: 10px !important;

    span {
      background: var(--btn-color);
      color: #ffffff;

      &:hover {
        background: var(--hover-btn-color);
      }
    }

    .form-control {
      outline: none !important;


      padding: 10px;
    }

    .form-control:focus {
      outline: none !important;
      box-shadow: none !important;

    }













  }

  .right__side {
    padding-left: calc(250px + 0px);
    padding-top: 92px;



  }


}