:root {
  --primary-color: #ff3333;
  --hover-color: #000;
  --btn-color: linear-gradient(90deg, rgba(198, 44, 116, 1) 0%, rgba(89, 39, 110, 1) 100%);
  --hover-btn-color: linear-gradient(90deg, rgb(214, 23, 112) 0%, rgb(121, 23, 163) 100%);
}

.products {
  background-color: #fff;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
}
.products .product_head_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(119, 119, 119, 0.4666666667);
}
.products .product_head_line .close span {
  font-size: 30px !important;
  font-weight: 700;
  cursor: pointer;
}
.products .product_head_line .close span:hover {
  color: var(--primary-color);
}
.products .description__container {
  background-color: rgba(245, 245, 245, 0.9607843137);
}
.products .description__container .filter_product_link .fillter_products span {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: black;
  cursor: pointer;
  padding: 5px 10px;
  text-transform: capitalize !important;
}
.products .description__container .filter_product_link .fillter_products span:hover {
  background: var(--hover-btn-color) !important;
}
.products .description__container .filter_products_product {
  height: 200px;
  overflow-y: scroll;
  background-color: white;
}
.products .description__container .rating ul {
  margin: 0;
  padding: 0;
}
.products .description__container .rating h3 {
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}
.products .description__container .review_box .form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}
.products .product_main_wrraper .filter_item {
  overflow: hidden;
}
.products .product_main_wrraper .filter_item .zoom-img {
  cursor: zoom-in;
  transition: 0.3 ease-in-out;
}
.products .product_main_wrraper .filter_item .zoom-img:hover {
  transform: scale(1.5);
}
.products .product_main_wrraper .Products__details .ourFlowers {
  font-family: "Nunito Sans", sans-serif;
}
.products .product_main_wrraper .Products__details .ourFlowers .follow {
  font-size: 18px;
}
.products .product_main_wrraper .Products__details .ourFlowers .bstwitter {
  background-color: #1DA1F2 !important;
}
.products .product_main_wrraper .Products__details .ourFlowers .bsfacebok {
  background-color: #007bc7 !important;
}
.products .product_main_wrraper .Products__details .ourFlowers .bsgoogle {
  background-color: #f2441d !important;
}
.products .product_main_wrraper .Products__details .ourFlowers .bspinterest {
  background-color: #f2391d !important;
}
.products .product_main_wrraper .Products__details .ourFlowers span {
  font-size: 15px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  text-transform: capitalize;
}
.products .product_main_wrraper .Products__details .ourFlowers img,
.products .product_main_wrraper .Products__details .ourFlowers svg {
  vertical-align: middle;
  background: rgb(0, 0, 0);
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 50%;
  transition: 0.4s;
  cursor: pointer;
  color: #fff;
}
.products .product_main_wrraper .Products__details .ourFlowers img:hover,
.products .product_main_wrraper .Products__details .ourFlowers svg:hover {
  background-color: #000000 !important;
}
.products .product_main_wrraper .Products__details .products_head {
  display: flex;
  flex-direction: column;
  gap: 10px !important;
  margin-bottom: 15px;
}
.products .product_main_wrraper .Products__details .products_head p {
  font-size: 25px;
  font-weight: 500;
}
.products .product_main_wrraper .Products__details .products_head span {
  color: tomato;
}
.products .product_main_wrraper .Products__details .cout_product {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}
.products .product_main_wrraper .Products__details .cout_product .incrment_btn {
  display: flex;
  align-items: center;
}
.products .product_main_wrraper .Products__details .cout_product .incrment_btn button {
  border: 1px solid rgba(119, 119, 119, 0.4666666667) !important;
  font-size: 24px;
  outline: none !important;
  background: transparent;
  padding: 0 12px;
}
.products .product_main_wrraper .Products__details .cout_product .incrment_btn button:nth-child(2) {
  border-top: 1px solid rgba(119, 119, 119, 0.4666666667) !important;
  border-bottom: 1px solid rgba(119, 119, 119, 0.4666666667) !important;
}
.products .product_main_wrraper .Products__details .cout_product .incrment_btn button:nth-child(1):hover {
  background-color: var(--primary-color);
}
.products .product_main_wrraper .Products__details .cout_product .incrment_btn button:nth-child(3):hover {
  background-color: var(--primary-color);
}
.products .public_review {
  background-color: #f5f5f5;
  padding: 0 10px;
}
.products .public_review .total_product_rating .tolal_review span {
  font-size: 20px;
  margin-right: 5px;
}
.products .public_review .total_product_rating .tolal_review span:first-child {
  color: var(--primary-color);
}
.products .public_review .total_product_rating .tolal_review P {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--primary-color);
  text-transform: capitalize;
  margin-top: 10px;
}
.products .total_rating .five_rating span,
.products .total_rating .four_rating span,
.products .total_rating .three_rating span,
.products .total_rating .one_rating span {
  margin-right: 5px;
}
.products .review_item {
  width: 70%;
}
.products .review_item h3.sub-heading {
  border-bottom: 1px solid rgba(119, 119, 119, 0.4666666667);
}
.products .review_item .like_review {
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.products .review_item .rating .date_com p {
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

.show {
  padding-left: 0 !important;
}/*# sourceMappingURL=ProductDisplay.css.map */