$font-nunito: 'Nunito Sans', sans-serif;

$font-poppins: 'Poppins', sans-serif;

:root {
    --primary-color: #ff3333;
    --hover-color: #000;
    --btn-color: linear-gradient(90deg, rgba(198, 44, 116, 1) 0%, rgba(89, 39, 110, 1) 100%);
    --hover-btn-color: linear-gradient(90deg, rgb(214, 23, 112) 0%, rgb(121, 23, 163) 100%);


}

@mixin menu_bar{
    .flas_menu {
        padding-left: 12px;



        ul {
            display: flex;
            align-items: center;
            gap: 3px;


            padding: 0 !important;
            margin: 0 !important;

            li {
                a {
                    font-size: 15px !important;
                    font-weight: 400;
                    font-family: $font-poppins;
                    color: #000;
                    transition: .3s;

                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }
}


@mixin slider{
    .card {
      background-color: #777;
  

      img{
        height: 60vh;
        object-fit: cover;
      }

      .card-img-overlay {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
  
        .card-title {
          font-size: 35px !important;
          font-family: $font-nunito;
          font-weight: 600;
          margin-bottom: 20px;
  
        }
      }
    }
  }

  @mixin card_design {
    .card {
       height: fit-content;
      position: relative;
  
      border: none !important;
      box-shadow: 0px 0px 30px -20px;
  
  
  
  
  
      &:hover .hover_card {
        opacity: 1;
        z-index: 10;
  
      }
  
      &:hover {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
        cursor: pointer;
  
        &::before {
          content: '';
          opacity: .4;
          background-color: #000;
          position: absolute;
          width: 100%;
          height: 180px;
          left: 0;
          top: 0;
          z-index: 9;
        }
      }
  
  
  
      img {
        height: 180px;
        object-fit: cover;
        object-position: top;
  
  
  
  
  
      }
  
      .card-body {
        position: relative;
  
        .card-title {
          font-size: 15px;
          font-weight: 400;
          font-family: $font-poppins;
  
          &::first-letter {
            text-transform: uppercase;
  
          }
        }
  
        .card-text {
          font-size: 15px;
          font-family: $font-poppins !important;
          font-weight: 300;
  
          .rating {
  
            h5 {
              font-size: 18px;
  
  
  
  
            }
  
            h3 {
              font-family: $font-poppins;
              font-weight: 500;
              font-size: 15px;
  
              span {
                color: var(--primary-color);
                text-transform: capitalize;
              }
            }
  
  
          }
  
          .price_product {
            display: flex;
            align-items: baseline !important;
  
            span {
              font-size: 15px;
              font-weight: 400;
  
            }
  
            h4 {
              font-size: 13px !important;
              font-weight: 200;
  
              text-decoration: line-through !important;
  
            }
          }
  
        }
      }
  
      .hover_card {
        position: absolute;
        transition: 0.3s;
        text-align: center;
        right: 0;
        left: 0;
        color: black;
        top: -27px;
        opacity: 0;
        z-index: 10;
        background-color: #ffffff;
        box-shadow: inset rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border: .7px solid #7777;
  
  
  
  
  
  
        button {
          border: none !important;
          outline: none;
          font-size: 18px;
          color: #000000;
          font-weight: 600;
          cursor: pointer;
          text-transform: capitalize;
  
  
          &:hover {
            color: var(--primary-color);
          }
        }
  
  
      }
  
      .cart__add {
        position: absolute;
        width: 100%;
        right: 50%;
        bottom: -60px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        left: 50%;
        transform: translate(-50%, -50%);
  
        padding-top: 5px;
  
  
  
  
        .btn_Cart_add {
          border: .3px solid #7777;
          padding: 5px 0;
          background-color: #000;
          padding: 5px 0;
          color: #000000;
          font-size: 15px;
          font-weight: 400;
          font-family: $font-nunito;
          box-shadow: 0px 0px 47px -48px !important;
          background: transparent !important;
  
  
          &:hover {
            color: #ffffff;
            background: var(--hover-btn-color) !important;
  
          }
  
        }
  
      }
  
      .whislist_icon {
        position: absolute;
        color: #fff;
        right: 10px;
        top: 0px;
        font-size: 30px !important;
  
        z-index: 10;
      }
  
  
  
  
    }
  
  
  }
  
  

.all_view_category{
    overflow: hidden;
     .banner_category{
         @include slider();
     }
     
     @include menu_bar();

 
    //   view product

    .view_products{
        @include card_design();
    }
}