:root {
  --primary-color: #ff3333;
  --hover-color: #000;
  --btn-color: linear-gradient(90deg, rgba(198, 44, 116, 1) 0%, rgba(89, 39, 110, 1) 100%);
  --hover-btn-color: linear-gradient(90deg, rgb(214, 23, 112) 0%, rgb(121, 23, 163) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: antiquewhite;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-color);
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: antiquewhite;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--hover-color);
  }
}
body {
  background-color: white !important;
}

li,
a,
h1,
h2,
h3,
h4,
h5,
h5,
p {
  list-style: none;
  text-decoration: none !important;
  margin-bottom: 0 !important;
}

.top_heading {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: #ffffff;
  background-color: var(--primary-color);
}

.viwe {
  text-align: right;
}
.viwe a {
  cursor: pointer;
  transition: 0.3s !important;
  color: #ffffff !important;
  background: var(--hover-btn-color);
  padding: 5px 10px;
  font-size: 18px !important;
  text-transform: capitalize;
}
.viwe a:hover {
  text-decoration: underline !important;
  color: var(--hover-color);
  background: var(--btn-color);
}

.counting {
  display: flex;
  flex-wrap: wrap;
}
.counting h6 {
  font-size: 20px;
}
.counting span {
  background-color: #fff;
  padding: 1px 10px;
  color: #000000;
  margin: 0 2px;
}

.normal-font {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.sub-heading {
  font-size: 20px !important;
  font-weight: 500;
  font-family: "Nunito Sans", sans-serif;
}

.my-btn {
  padding: 5px 8px;
  background: var(--btn-color);
  outline: none;
  border: none;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
}
.my-btn:hover {
  background: var(--hover-btn-color);
}

.my-btn-black {
  padding: 5px 10px;
  outline: none;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border: 1px solid rgba(119, 119, 119, 0.4666666667);
  color: black;
  font-size: 15px;
}
.my-btn-black:hover {
  background: var(--hover-btn-color);
  color: #ffffff;
  cursor: pointer;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 768px) {
  .normal-font {
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
  .sub-heading {
    font-size: 16px !important;
    font-weight: 500;
    font-family: "Nunito Sans", sans-serif;
  }
  .my-btn {
    padding: 5px;
    background: var(--btn-color);
    outline: none;
    border: none;
    color: #fff;
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
  }
  .my-btn:hover {
    background: var(--hover-btn-color);
  }
  .my-btn-black {
    padding: 5px;
    outline: none;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    border: 1px solid rgba(119, 119, 119, 0.4666666667);
    color: black;
    font-size: 13px;
  }
  .my-btn-black:hover {
    background: var(--hover-btn-color);
    color: #ffffff;
    cursor: pointer;
  }
  .viwe a {
    cursor: pointer;
    transition: 0.3s !important;
    color: #ffffff !important;
    background: var(--hover-btn-color);
    padding: 3px 10px;
    font-size: 15px !important;
    text-transform: capitalize;
  }
}/*# sourceMappingURL=Main.css.map */